/* See "macplus.css" for documentation */

.background {
	background-image:		url('$RETROWEB_COMPONENTS_PATH/skins/trs80-model1.jpg');
	width:					1302px;
	height:					1056px;
}
/* Credit: <a href="http://jscustom.theoldcomputer.com/images/manufacturers_systems/Tandy-Radio-Shack/TRS-80-Model-I/395482tandy-trs-80-model1.system.jpg">theoldcomputer</a> */

.flush-right .background {
	margin-right:			-43px;
}

.screen-position-and-size {
	left:					584px;
	top:					127px;
	width:					384px;
	height:					288px;
}

.sidebar {
	margin-right:			852px;
}

.flush-right .sidebar {
	margin-right:			809px;
}